In [1]:
# from pyspark.sql import SparkSession

In [2]:
# spark = SparkSession.builder \
#         .appName("SparkSample") \
#         .getOrCreate() # .master("spark://localhost:8088")

In [3]:
# data_raw = spark.read.options(delimiter=";", header=True, encoding="latin1", dateFormat="dd/MM/yyyy", inferSchema=True).csv("/user/ivan/input/bweb.csv")
# data_raw.show(5)

## 2. Exploração Inicial dos Dados:

<ul>
    <li>Baixar e carregar os dados para o HDFS no cluster. </li>
    <li>Realizar uma exploração inicial dos dados, utilizando operações sobre DataFrames, como show(), count(), describe(), entre outras.</li>
    <li>Identificar a estrutura dos registros, os tipos de dados presentes, entre outras informações relevantes</li>
</ul>

In [4]:
import pandas as pd

In [5]:
## Baixar e carregar os dados para o HDFS no cluster.
data_raw = pd.read_csv("Data/bweb_csv.zip", encoding = "latin1", sep = ";", low_memory=False)
data_raw.head(3).T

,0,1,2
DT_GERACAO,05/10/2022,05/10/2022,05/10/2022
HH_GERACAO,15:19:40,15:19:40,15:19:40
ANO_ELEICAO,2022,2022,2022
CD_TIPO_ELEICAO,0,0,0
NM_TIPO_ELEICAO,Eleição Ordinária,Eleição Ordinária,Eleição Ordinária
CD_PLEITO,406,406,406
DT_PLEITO,02/10/2022,02/10/2022,02/10/2022
NR_TURNO,1,1,1
CD_ELEICAO,544,544,544
DS_ELEICAO,Eleição Geral Federal 2022,Eleição Geral Federal 2022,Eleição Geral Federal 2022
SG_UF,RN,RN,RN
CD_MUNICIPIO,17612,17612,17612
NM_MUNICIPIO,NATAL,NATAL,NATAL
NR_ZONA,1,1,1
NR_SECAO,1,1,1
NR_LOCAL_VOTACAO,1015,1015,1015
CD_CARGO_PERGUNTA,1,1,1
DS_CARGO_PERGUNTA,Presidente,Presidente,Presidente
NR_PARTIDO,-1,-1,15
SG_PARTIDO,#NULO#,#NULO#,MDB
NM_PARTIDO,#NULO#,#NULO#,Movimento Democrático Brasileiro
DT_BU_RECEBIDO,02/10/2022 17:46:16,02/10/2022 17:46:16,02/10/2022 17:46:16
QT_APTOS,329,329,329
QT_COMPARECIMENTO,252,252,252
QT_ABSTENCOES,77,77,77
CD_TIPO_URNA,1,1,1
DS_TIPO_URNA,APURADA,APURADA,APURADA
CD_TIPO_VOTAVEL,3,2,1
DS_TIPO_VOTAVEL,Nulo,Branco,Nominal
NR_VOTAVEL,96,95,15
NM_VOTAVEL,Nulo,Branco,SIMONE TEBET
QT_VOTOS,9,2,6
NR_URNA_EFETIVADA,2052180,2052180,2052180
CD_CARGA_1_URNA_EFETIVADA,943.905.058.025.055.648.,943.905.058.025.055.648.,943.905.058.025.055.648.
CD_CARGA_2_URNA_EFETIVADA,53.584,53.584,53.584
CD_FLASHCARD_URNA_EFETIVADA,1941091E,1941091E,1941091E
DT_CARGA_URNA_EFETIVADA,21/09/2022 10:11:00,21/09/2022 10:11:00,21/09/2022 10:11:00
DS_CARGO_PERGUNTA_SECAO,1 - 1,1 - 1,1 - 1
DS_AGREGADAS,#NULO#,#NULO#,#NULO#
DT_ABERTURA,02/10/2022 08:00:01,02/10/2022 08:00:01,02/10/2022 08:00:01
DT_ENCERRAMENTO,02/10/2022 17:01:01,02/10/2022 17:01:01,02/10/2022 17:01:01
QT_ELEITORES_BIOMETRIA_NH,11,11,11
DT_EMISSAO_BU,02/10/2022 17:02:42,02/10/2022 17:02:42,02/10/2022 17:02:42
NR_JUNTA_APURADORA,-1,-1,-1
NR_TURMA_APURADORA,-1,-1,-1

In [6]:
## Realizar uma exploração inicial dos dados, utilizando operações sobre DataFrames, como show(), count(), describe(), entre outras
# data.show()
display(data_raw.head(5))
# data.count()
print(data_raw.shape)
# data.describe()
data_raw.describe()

,DT_GERACAO,HH_GERACAO,ANO_ELEICAO,CD_TIPO_ELEICAO,NM_TIPO_ELEICAO,CD_PLEITO,DT_PLEITO,NR_TURNO,CD_ELEICAO,DS_ELEICAO,...,CD_FLASHCARD_URNA_EFETIVADA,DT_CARGA_URNA_EFETIVADA,DS_CARGO_PERGUNTA_SECAO,DS_AGREGADAS,DT_ABERTURA,DT_ENCERRAMENTO,QT_ELEITORES_BIOMETRIA_NH,DT_EMISSAO_BU,NR_JUNTA_APURADORA,NR_TURMA_APURADORA
0,05/10/2022,15:19:40,2022,0,Eleição Ordinária,406,02/10/2022,1,544,Eleição Geral Federal 2022,...,1941091E,21/09/2022 10:11:00,1 - 1,#NULO#,02/10/2022 08:00:01,02/10/2022 17:01:01,11,02/10/2022 17:02:42,-1,-1
1,05/10/2022,15:19:40,2022,0,Eleição Ordinária,406,02/10/2022,1,544,Eleição Geral Federal 2022,...,1941091E,21/09/2022 10:11:00,1 - 1,#NULO#,02/10/2022 08:00:01,02/10/2022 17:01:01,11,02/10/2022 17:02:42,-1,-1
2,05/10/2022,15:19:40,2022,0,Eleição Ordinária,406,02/10/2022,1,544,Eleição Geral Federal 2022,...,1941091E,21/09/2022 10:11:00,1 - 1,#NULO#,02/10/2022 08:00:01,02/10/2022 17:01:01,11,02/10/2022 17:02:42,-1,-1
3,05/10/2022,15:19:40,2022,0,Eleição Ordinária,406,02/10/2022,1,544,Eleição Geral Federal 2022,...,1941091E,21/09/2022 10:11:00,1 - 1,#NULO#,02/10/2022 08:00:01,02/10/2022 17:01:01,11,02/10/2022 17:02:42,-1,-1
4,05/10/2022,15:19:40,2022,0,Eleição Ordinária,406,02/10/2022,1,544,Eleição Geral Federal 2022,...,1941091E,21/09/2022 10:11:00,1 - 1,#NULO#,02/10/2022 08:00:01,02/10/2022 17:01:01,11,02/10/2022 17:02:42,-1,-1

(878328, 45)

,ANO_ELEICAO,CD_TIPO_ELEICAO,CD_PLEITO,NR_TURNO,CD_ELEICAO,CD_MUNICIPIO,NR_ZONA,NR_SECAO,NR_LOCAL_VOTACAO,CD_CARGO_PERGUNTA,...,QT_ABSTENCOES,CD_TIPO_URNA,CD_TIPO_VOTAVEL,NR_VOTAVEL,QT_VOTOS,NR_URNA_EFETIVADA,CD_CARGA_2_URNA_EFETIVADA,QT_ELEITORES_BIOMETRIA_NH,NR_JUNTA_APURADORA,NR_TURMA_APURADORA
count,878328.0,878328.0,878328.0,878328.0,878328.000000,878328.000000,878328.000000,878328.000000,878328.000000,878328.000000,...,878328.000000,878328.0,878328.000000,878328.000000,878328.000000,8.783280e+05,878328.000000,878328.000000,878328.000000,878328.000000
mean,2022.0,0.0,406.0,1.0,545.879756,17532.105076,28.178827,162.478821,1351.646847,5.901308,...,64.042337,1.0,1.450008,15883.713591,11.883365,1.786512e+06,492.635534,29.696354,-0.999863,-0.999863
std,0.0,0.0,0.0,0.0,0.475426,1209.665579,21.983483,152.321064,399.862550,1.594414,...,22.814167,0.0,0.987020,22286.202235,27.360338,3.798083e+05,287.561117,22.903778,0.016530,0.016530
min,2022.0,0.0,406.0,1.0,544.000000,16004.000000,1.000000,1.000000,1015.000000,1.000000,...,4.000000,1.0,1.000000,10.000000,1.000000,1.001137e+06,0.002000,0.000000,-1.000000,-1.000000
25%,2022.0,0.0,406.0,1.0,546.000000,16993.000000,6.000000,47.000000,1058.000000,6.000000,...,48.000000,1.0,1.000000,96.000000,1.000000,1.309746e+06,247.103000,14.000000,-1.000000,-1.000000
50%,2022.0,0.0,406.0,1.0,546.000000,17612.000000,26.000000,102.000000,1163.000000,6.000000,...,61.000000,1.0,1.000000,4000.000000,2.000000,2.051990e+06,487.233000,21.000000,-1.000000,-1.000000
75%,2022.0,0.0,406.0,1.0,546.000000,17795.000000,49.000000,243.000000,1554.000000,7.000000,...,77.000000,1.0,1.000000,28123.000000,8.000000,2.059203e+06,738.946000,41.000000,-1.000000,-1.000000
max,2022.0,0.0,406.0,1.0,546.000000,30031.000000,69.000000,630.000000,2577.000000,7.000000,...,182.000000,1.0,4.000000,80180.000000,335.000000,2.246822e+06,999.976000,314.000000,1.000000,1.000000

In [7]:
## Identificar a estrutura dos registros, os tipos de dados presentes, entre outras informações relevantes
data_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 878328 entries, 0 to 878327
Data columns (total 45 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   DT_GERACAO                   878328 non-null  object
 1   HH_GERACAO                   878328 non-null  object
 2   ANO_ELEICAO                  878328 non-null  int64
 3   CD_TIPO_ELEICAO              878328 non-null  int64
 4   NM_TIPO_ELEICAO              878328 non-null  object
 5   CD_PLEITO                    878328 non-null  int64
 6   DT_PLEITO                    878328 non-null  object
 7   NR_TURNO                     878328 non-null  int64
 8   CD_ELEICAO                   878328 non-null  int64
 9   DS_ELEICAO                   878328 non-null  object
 10  SG_UF                        878328 non-null  object
 11  CD_MUNICIPIO                 878328 non-null  int64
 12  NM_MUNICIPIO                 878328 non-null  object
 13  NR_ZONA                      878328 non-null  int64
 14  NR_SECAO                     878328 non-null  int64
 15  NR_LOCAL_VOTACAO             878328 non-null  int64
 16  CD_CARGO_PERGUNTA            878328 non-null  int64
 17  DS_CARGO_PERGUNTA            878328 non-null  object
 18  NR_PARTIDO                   878328 non-null  int64
 19  SG_PARTIDO                   878328 non-null  object
 20  NM_PARTIDO                   878328 non-null  object
 21  DT_BU_RECEBIDO               878328 non-null  object
 22  QT_APTOS                     878328 non-null  int64
 23  QT_COMPARECIMENTO            878328 non-null  int64
 24  QT_ABSTENCOES                878328 non-null  int64
 25  CD_TIPO_URNA                 878328 non-null  int64
 26  DS_TIPO_URNA                 878328 non-null  object
 27  CD_TIPO_VOTAVEL              878328 non-null  int64
 28  DS_TIPO_VOTAVEL              878328 non-null  object
 29  NR_VOTAVEL                   878328 non-null  int64
 30  NM_VOTAVEL                   878328 non-null  object
 31  QT_VOTOS                     878328 non-null  int64
 32  NR_URNA_EFETIVADA            878328 non-null  int64
 33  CD_CARGA_1_URNA_EFETIVADA    878328 non-null  object
 34  CD_CARGA_2_URNA_EFETIVADA    878328 non-null  float64
 35  CD_FLASHCARD_URNA_EFETIVADA  878328 non-null  object
 36  DT_CARGA_URNA_EFETIVADA      878328 non-null  object
 37  DS_CARGO_PERGUNTA_SECAO      878328 non-null  object
 38  DS_AGREGADAS                 878328 non-null  object
 39  DT_ABERTURA                  878268 non-null  object
 40  DT_ENCERRAMENTO              878268 non-null  object
 41  QT_ELEITORES_BIOMETRIA_NH    878328 non-null  int64
 42  DT_EMISSAO_BU                878328 non-null  object
 43  NR_JUNTA_APURADORA           878328 non-null  int64
 44  NR_TURMA_APURADORA           878328 non-null  int64
dtypes: float64(1), int64(22), object(22)
memory usage: 301.6+ MB

## 3. Limpeza e Transformação dos Dados:

<ul>
    <li>Realizar a limpeza e transformação dos dados, eliminando registros inválidos ou inconsistentes, e convertendo os tipos de dados, se necessário.</li>
    <li>Utilizar as transformações disponíveis em DataFrames, como select(), filter(), withColumn(), etc.</li>
</ul>

In [8]:
## Realizar a limpeza e transformação dos dados, eliminando registros inválidos ou inconsistentes, e convertendo os tipos de dados, se necessário.
# Select date columns 
date_columns = data_raw.columns[data_raw.columns.str.contains("DT_")]

# fix dates
for ii in date_columns:
    data_raw[ii] = pd.to_datetime(data_raw[ii], errors='coerce')
    
# Fix time column
# data_raw["HH_GERACAO"] = data_raw["HH_GERACAO"].dt.strftime("%d-%m-%y %H:%M:%S").str.split(" ", expand=True, ).loc[:, 1]

C:\Users\Ivan\AppData\Local\Temp\ipykernel_17504\4151104434.py:7: UserWarning: Parsing dates in %d/%m/%Y %H:%M:%S format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  data_raw[ii] = pd.to_datetime(data_raw[ii], errors='coerce')

In [9]:
# Identifying missing data
missing_df = pd.DataFrame(data = data_raw.isnull().sum(axis=0), columns=["missing_values"]).sort_values(by="missing_values", ascending=False)
missing_df.head()
#data_raw.query("DT_ENCERRAMENTO.isnull() or DT_ABERTURA.isnull()").shape

                           missing_values
DT_ENCERRAMENTO                        60
DT_ABERTURA                            60
DT_GERACAO                              0
CD_CARGA_1_URNA_EFETIVADA               0
CD_TIPO_URNA                            0

In [10]:
data_df = data_raw.copy()
# Removing missing data
data_df.dropna(axis=0, inplace=True)
# Missing count
print(f"Total of missing values: {data_df.isnull().sum().sum()}")

Total of missing values: 0

In [11]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 878268 entries, 0 to 878327
Data columns (total 45 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   DT_GERACAO                   878268 non-null  datetime64[ns]
 1   HH_GERACAO                   878268 non-null  object
 2   ANO_ELEICAO                  878268 non-null  int64
 3   CD_TIPO_ELEICAO              878268 non-null  int64
 4   NM_TIPO_ELEICAO              878268 non-null  object
 5   CD_PLEITO                    878268 non-null  int64
 6   DT_PLEITO                    878268 non-null  datetime64[ns]
 7   NR_TURNO                     878268 non-null  int64
 8   CD_ELEICAO                   878268 non-null  int64
 9   DS_ELEICAO                   878268 non-null  object
 10  SG_UF                        878268 non-null  object
 11  CD_MUNICIPIO                 878268 non-null  int64
 12  NM_MUNICIPIO                 878268 non-null  object
 13  NR_ZONA                      878268 non-null  int64
 14  NR_SECAO                     878268 non-null  int64
 15  NR_LOCAL_VOTACAO             878268 non-null  int64
 16  CD_CARGO_PERGUNTA            878268 non-null  int64
 17  DS_CARGO_PERGUNTA            878268 non-null  object
 18  NR_PARTIDO                   878268 non-null  int64
 19  SG_PARTIDO                   878268 non-null  object
 20  NM_PARTIDO                   878268 non-null  object
 21  DT_BU_RECEBIDO               878268 non-null  datetime64[ns]
 22  QT_APTOS                     878268 non-null  int64
 23  QT_COMPARECIMENTO            878268 non-null  int64
 24  QT_ABSTENCOES                878268 non-null  int64
 25  CD_TIPO_URNA                 878268 non-null  int64
 26  DS_TIPO_URNA                 878268 non-null  object
 27  CD_TIPO_VOTAVEL              878268 non-null  int64
 28  DS_TIPO_VOTAVEL              878268 non-null  object
 29  NR_VOTAVEL                   878268 non-null  int64
 30  NM_VOTAVEL                   878268 non-null  object
 31  QT_VOTOS                     878268 non-null  int64
 32  NR_URNA_EFETIVADA            878268 non-null  int64
 33  CD_CARGA_1_URNA_EFETIVADA    878268 non-null  object
 34  CD_CARGA_2_URNA_EFETIVADA    878268 non-null  float64
 35  CD_FLASHCARD_URNA_EFETIVADA  878268 non-null  object
 36  DT_CARGA_URNA_EFETIVADA      878268 non-null  datetime64[ns]
 37  DS_CARGO_PERGUNTA_SECAO      878268 non-null  object
 38  DS_AGREGADAS                 878268 non-null  object
 39  DT_ABERTURA                  878268 non-null  datetime64[ns]
 40  DT_ENCERRAMENTO              878268 non-null  datetime64[ns]
 41  QT_ELEITORES_BIOMETRIA_NH    878268 non-null  int64
 42  DT_EMISSAO_BU                878268 non-null  datetime64[ns]
 43  NR_JUNTA_APURADORA           878268 non-null  int64
 44  NR_TURMA_APURADORA           878268 non-null  int64
dtypes: datetime64[ns](7), float64(1), int64(22), object(15)
memory usage: 308.2+ MB

### 4. Análise Exploratória:

Realizar uma análise exploratória dos resultados das eleições, utilizando DataFrames no PySpark:<ul>
    <li>Calcular a taxa de comparecimento às eleições por município, zona eleitoral ou seção eleitoral.</li>
    <li>Identificar os municípios com maior e menor taxa de comparecimento.</li>
    <li>Determinar o desempenho de cada partido, calculando a quantidade de votos recebidos por partido.</li>
    <li>Comparar o desempenho dos partidos em diferentes municípios ou estados.</li>
    <li>Identificar os candidatos mais votados para cada cargo.</li>
    <li>Identificar regiões com maior concentração de votos em determinados partidos ou candidatos.</li>
    <li>Análise da participação eleitoral por faixa etária ou gênero.</li>
    <li>Comparar a proporção de votos brancos e nulos com o total de votos válidos.</li>
    <li>Utilização de funções de agregação, como sum(), avg(), count(), etc., para obter insights estatísticos.</li>
</ul>

In [12]:
## Calcular a taxa de comparecimento às eleições por município, zona eleitoral ou seção eleitoral.
# Create a group and select only the frist row ( qt_aptos and qt_comparecimento are the same for all rows)
data_group = data_df.groupby(["SG_UF", "NM_MUNICIPIO", "NR_ZONA", "NR_SECAO"]).nth(0).copy()
data_group["PROP_COMPARECIMENTO"] = data_group.QT_COMPARECIMENTO / data_group.QT_APTOS 
data_group["PROP_ABSTENCOES"] = data_group.QT_ABSTENCOES / data_group.QT_APTOS 
data_group[["SG_UF", "NM_MUNICIPIO", "NR_ZONA", "NR_SECAO", "PROP_COMPARECIMENTO", "PROP_ABSTENCOES"]].head(5).style.format({"PROP_COMPARECIMENTO": "{:.2%}", "PROP_ABSTENCOES": "{:.2%}"})

In [13]:

## Identificar os municípios com maior e menor taxa de comparecimento.
# Top 5, comparecimento
print("Top 5, comparecimento")
display(data_group[["NM_MUNICIPIO", "PROP_COMPARECIMENTO", "PROP_ABSTENCOES"]].sort_values(by="PROP_COMPARECIMENTO", ascending=False)
        .head(5)
        .style.format({"PROP_COMPARECIMENTO": "{:.2%}", "PROP_ABSTENCOES": "{:.2%}"}))

# Last 5, comparecimento
print("Last 5, comparecimento")
display(data_group[["NM_MUNICIPIO", "PROP_COMPARECIMENTO", "PROP_ABSTENCOES"]].sort_values(by="PROP_COMPARECIMENTO", ascending=True)
        .head(5)
        .style.format({"PROP_COMPARECIMENTO": "{:.2%}", "PROP_ABSTENCOES": "{:.2%}"})
        )

Top 5, comparecimento

Last 5, comparecimento

In [14]:
## Determinar o desempenho de cada partido, calculando a quantidade de votos recebidos por partido.
mask = data_df.CD_TIPO_VOTAVEL.isin([1, 4])
data_group = data_df[mask].groupby("SG_PARTIDO")
data_group.DS_TIPO_VOTAVEL.count().reset_index(name="QT_VOTOS").sort_values(by="QT_VOTOS", ascending=False)

       SG_PARTIDO  QT_VOTOS
9              PL     96275
21             PT     88963
27          UNIÃO     86108
18           PSDB     85411
26  SOLIDARIEDADE     61224
3             MDB     50941
15            PSB     47019
8             PDT     40567
25   REPUBLICANOS     31442
17            PSD     29538
23             PV     26312
13             PP     23586
10            PMB     20841
12           PODE     19467
0          AVANTE     19451
19           PSOL     12268
22            PTB      9061
11            PMN      8073
6         PC do B      7769
16            PSC      6820
5        PATRIOTA      5757
20           PSTU      5640
2              DC      5567
28             UP      3896
14           PRTB      3329
1       CIDADANIA      2636
4            NOVO      2106
24           REDE      1536
7             PCB       559

In [15]:
## Comparar o desempenho dos partidos em diferentes municípios ou estados.
mask = data_df.CD_TIPO_VOTAVEL.isin([1, 4])
data_group = data_df[mask].groupby(["SG_UF", "NM_MUNICIPIO", "SG_PARTIDO"])
data_group.DS_TIPO_VOTAVEL.count().reset_index(name="QT_VOTOS").sort_values(by="QT_VOTOS", ascending=False)

     SG_UF           NM_MUNICIPIO     SG_PARTIDO  QT_VOTOS
2440    RN                  NATAL          UNIÃO     22910
2422    RN                  NATAL             PL     22792
2431    RN                  NATAL           PSDB     21414
2434    RN                  NATAL             PT     20813
2439    RN                  NATAL  SOLIDARIEDADE     15370
...    ...                    ...            ...       ...
456     RN              BOA SAÚDE             UP         1
2223    RN                MARTINS            PCB         1
2221    RN                MARTINS       PATRIOTA         1
3980    RN  SÃO MIGUEL DO GOSTOSO            PCB         1
3595    RN   SERRA NEGRA DO NORTE           PRTB         1

[4668 rows x 4 columns]

In [16]:
##Identificar os candidatos mais votados para cada cargo.
mask = data_df.CD_TIPO_VOTAVEL.isin([1, 4])
data_group = data_df[mask].groupby(["DS_CARGO_PERGUNTA", "NM_VOTAVEL"])
data_group.DS_TIPO_VOTAVEL.count().reset_index(name="QT_VOTOS").sort_values(by=["DS_CARGO_PERGUNTA", "QT_VOTOS"], ascending=False)

     DS_CARGO_PERGUNTA        NM_VOTAVEL  QT_VOTOS
548            Senador    CARLOS EDUARDO      7673
556            Senador   ROGÉRIO MARINHO      7673
555            Senador      RAFAEL MOTTA      7672
551            Senador     GERALDO PINHO      4461
550            Senador       FREITAS JR.      3495
..                 ...               ...       ...
57   Deputado Estadual    DAMIÃO ANDRADE        20
55   Deputado Estadual  DAIONARA ANDRADE        14
31   Deputado Estadual    BRENNA DAYANNE        10
86   Deputado Estadual      ELI OLIVEIRA        10
192  Deputado Estadual     MARIA VANECIA         6

[558 rows x 3 columns]

In [17]:
## Identificar regiões com maior concentração de votos em determinados partidos ou candidatos.

# All macro and micro regions of RN
reg_string = """Agreste Potiguar | Agreste Potiguar | Bom Jesus; Brejinho; Ielmo Marinho; Januário Cicco; Jundiá; Lagoa d'Anta; Lagoa de Pedras; Lagoa Salgada; Monte Alegre; Nova Cruz; Passa e Fica; Passagem; Presidente Juscelino; Riachuelo; Santa Maria; Santo Antônio; São Paulo do Potengi; São Pedro; Senador Elói de Souza; Serrinha; Várzea; Vera Cruz; Boa Saúde; Serra Caiada
Agreste Potiguar | Baixa Verde | Bento Fernandes; Jandaíra; João Câmara; Parazinho; Poço Branco
Agreste Potiguar | Borborema Potiguar | Barcelona; Campo Redondo; Coronel Ezequiel; Jaçanã; Japi; Lagoa de Velhos; Lajes Pintadas; Monte das Gameleiras; Ruy Barbosa; Santa Cruz; São Bento do Trairí; São José do Campestre; São Tomé; Serra de São Bento; Sítio Novo; Tangará
Central Potiguar | Angicos | Afonso Bezerra; Angicos; Caiçara do Rio do Vento; Fernando Pedroza; Jardim de Angicos; Lajes; Pedra Preta; Pedro Avelino
Central Potiguar | Macau | Caiçara do Norte; Galinhos; Guamaré; Macau; São Bento do Norte
Central Potiguar | Seridó Ocidental Potiguar | Caicó; Ipueira; Jardim de Piranhas; São Fernando; São João do Sabugi; Serra Negra do Norte; Timbaúba dos Batistas
Central Potiguar | Seridó Oriental Potiguar | Acari; Carnaúba dos Dantas; Cruzeta; Currais Novos; Equador; Jardim do Seridó; Ouro Branco; Parelhas; Santana do Seridó; São José do Seridó
Central Potiguar | Serra de Santana | Bodó; Cerro Corá; Florânia; Lagoa Nova; Santana do Matos; São Vicente; Tenente Laurentino Cruz
Leste Potiguar | Litoral Nordeste Potiguar | Maxaranguape; Pedra Grande; Pureza; Rio do Fogo; São Miguel de Touros; Taipu; Touros; Arez; São miguel do gostoso
Leste Potiguar | Litoral Sul Potiguar | Arês; Baía Formosa; Canguaretama; Espírito Santo; Goianinha; Montanhas; Pedro Velho; Senador Georgino Avelino; Tibau do Sul; Vila Flor
Leste Potiguar | Macaíba | Ceará-Mirim; Macaíba; Nísia Floresta; São Gonçalo do Amarante; São José de Mipibu
Leste Potiguar | Natal | Extremoz; Natal; Parnamirim
Oeste Potiguar | Chapada do Apodi | Apodi; Caraúbas; Felipe Guerra; Governador Dix-Sept Rosado
Oeste Potiguar | Médio Oeste Potiguar | Augusto Severo; Janduís; Messias Targino; Paraú; Triunfo Potiguar; Upanema; Campo Grande
Oeste Potiguar | Mossoró | Areia Branca; Baraúna; Grossos; Mossoró; Serra do Mel; Tibau
Oeste Potiguar | Pau dos Ferros | Alexandria; Francisco Dantas; Itaú; José da Penha; Marcelino Vieira; Paraná; Pau dos Ferros; Pilões; Portalegre; Rafael Fernandes; Riacho da Cruz; Rodolfo Fernandes; São Francisco do Oeste; Severiano Melo; Taboleiro Grande; Tenente Ananias; Viçosa
Oeste Potiguar | Serra de São Miguel | Água Nova; Coronel João Pessoa; Doutor Severiano; Encanto; Luís Gomes; Major Sales; Riacho de Santana; São Miguel; Venha-Ver
Oeste Potiguar | Umarizal | Almino Afonso; Antônio Martins; Frutuoso Gomes; João Dias; Lucrécia; Martins; Olho d'Água do Borges; Patu; Rafael Godeiro; Serrinha dos Pintos; Umarizal
Oeste Potiguar | Vale do Açu | Assú; Alto do Rodrigues; Carnaubais; Ipanguaçu; Itajá; Jucurutu; Pendências; Porto do Mangue; São Rafael"""

reg_string = reg_string.split("\n")
reg_string = list(map(lambda x: x.split("|"), reg_string))

# Df with macro, micro and city
df_regions = pd.DataFrame(columns=["MACRO", "MICRO", "municipio"])

# Populate df
for ii in reg_string:
    macro = ii[0].strip().upper()
    micro = ii[1].strip().upper()
    cities = ii[2].split(";")
    
    for jj in cities:
        df_regions.loc[len(df_regions)] = [macro, micro, jj.strip().upper()]

# Merge df_regions with data_df
data_reg_df = pd.merge(data_df, df_regions, left_on="NM_MUNICIPIO", right_on="municipio", how="left")
data_reg_df = data_reg_df.loc[:, :"MICRO"]
data_reg_df.head(3)

,DT_GERACAO,HH_GERACAO,ANO_ELEICAO,CD_TIPO_ELEICAO,NM_TIPO_ELEICAO,CD_PLEITO,DT_PLEITO,NR_TURNO,CD_ELEICAO,DS_ELEICAO,...,DS_CARGO_PERGUNTA_SECAO,DS_AGREGADAS,DT_ABERTURA,DT_ENCERRAMENTO,QT_ELEITORES_BIOMETRIA_NH,DT_EMISSAO_BU,NR_JUNTA_APURADORA,NR_TURMA_APURADORA,MACRO,MICRO
0,2022-05-10,15:19:40,2022,0,Eleição Ordinária,406,2022-02-10,1,544,Eleição Geral Federal 2022,...,1 - 1,#NULO#,2022-02-10 08:00:01,2022-02-10 17:01:01,11,2022-02-10 17:02:42,-1,-1,LESTE POTIGUAR,NATAL
1,2022-05-10,15:19:40,2022,0,Eleição Ordinária,406,2022-02-10,1,544,Eleição Geral Federal 2022,...,1 - 1,#NULO#,2022-02-10 08:00:01,2022-02-10 17:01:01,11,2022-02-10 17:02:42,-1,-1,LESTE POTIGUAR,NATAL
2,2022-05-10,15:19:40,2022,0,Eleição Ordinária,406,2022-02-10,1,544,Eleição Geral Federal 2022,...,1 - 1,#NULO#,2022-02-10 08:00:01,2022-02-10 17:01:01,11,2022-02-10 17:02:42,-1,-1,LESTE POTIGUAR,NATAL

In [18]:
mask = data_reg_df.CD_TIPO_VOTAVEL.isin([1, 4])
data_group = data_reg_df[mask].groupby(["MACRO", "SG_PARTIDO"])
print("Top 5, partidos por macro região")
display(data_group.DS_TIPO_VOTAVEL.count()
        .reset_index(name="QT_VOTOS")
        .sort_values(by=["QT_VOTOS"], ascending=False)
        .groupby("MACRO").head(3))

data_group = data_reg_df[mask].groupby(["MICRO", "SG_PARTIDO"])
print("Top 5, partidos por micro região")
display(data_group.DS_TIPO_VOTAVEL.count()
        .reset_index(name="QT_VOTOS")
        .sort_values(by=["QT_VOTOS"], ascending=False)
        .groupby("MICRO").head(3))

Top 5, partidos por macro região

                MACRO SG_PARTIDO  QT_VOTOS
67     LESTE POTIGUAR         PL     47661
85     LESTE POTIGUAR      UNIÃO     45781
76     LESTE POTIGUAR       PSDB     43271
108    OESTE POTIGUAR         PT     23449
96     OESTE POTIGUAR         PL     22606
114    OESTE POTIGUAR      UNIÃO     19407
9    AGRESTE POTIGUAR         PL     13934
18   AGRESTE POTIGUAR       PSDB     12828
21   AGRESTE POTIGUAR         PT     12355
38   CENTRAL POTIGUAR         PL     12074
50   CENTRAL POTIGUAR         PT     11053
47   CENTRAL POTIGUAR       PSDB     10560

Top 5, partidos por micro região

                         MICRO SG_PARTIDO  QT_VOTOS
328                      NATAL         PL     30626
346                      NATAL      UNIÃO     30330
337                      NATAL       PSDB     28495
241                    MACAÍBA         PL      9595
270                    MOSSORÓ         PL      9468
259                    MACAÍBA      UNIÃO      8970
282                    MOSSORÓ         PT      8905
253                    MACAÍBA         PT      8445
9             AGRESTE POTIGUAR         PL      7865
288                    MOSSORÓ      UNIÃO      7348
18            AGRESTE POTIGUAR       PSDB      7271
21            AGRESTE POTIGUAR         PT      6677
549                VALE DO AÇU      UNIÃO      4360
183       LITORAL SUL POTIGUAR         PL      4137
96          BORBOREMA POTIGUAR         PL      4123
531                VALE DO AÇU         PL      4069
543                VALE DO AÇU         PT      3992
108         BORBOREMA POTIGUAR         PT      3862
105         BORBOREMA POTIGUAR       PSDB      3858
415   SERIDÓ ORIENTAL POTIGUAR         PL      3682
201       LITORAL SUL POTIGUAR      UNIÃO      3606
195       LITORAL SUL POTIGUAR         PT      3545
369             PAU DOS FERROS         PT      3387
154  LITORAL NORDESTE POTIGUAR         PL      3303
424   SERIDÓ ORIENTAL POTIGUAR       PSDB      3284
163  LITORAL NORDESTE POTIGUAR       PSDB      3165
427   SERIDÓ ORIENTAL POTIGUAR         PT      3106
166  LITORAL NORDESTE POTIGUAR         PT      2927
366             PAU DOS FERROS       PSDB      2850
386  SERIDÓ OCIDENTAL POTIGUAR         PL      2804
357             PAU DOS FERROS         PL      2685
398  SERIDÓ OCIDENTAL POTIGUAR         PT      2484
137           CHAPADA DO APODI         PT      2155
453           SERRA DE SANTANA       PSDB      2070
444           SERRA DE SANTANA         PL      2036
514                   UMARIZAL         PT      2010
395  SERIDÓ OCIDENTAL POTIGUAR       PSDB      1955
67                 BAIXA VERDE         PL      1946
224                      MACAU         PT      1932
456           SERRA DE SANTANA         PT      1860
212                      MACAU         PL      1856
125           CHAPADA DO APODI         PL      1849
511                   UMARIZAL       PSDB      1849
79                 BAIXA VERDE         PT      1816
85                 BAIXA VERDE      UNIÃO      1789
230                      MACAU      UNIÃO      1778
502                   UMARIZAL         PL      1767
38                     ANGICOS         PL      1696
50                     ANGICOS         PT      1671
485        SERRA DE SÃO MIGUEL         PT      1656
143           CHAPADA DO APODI      UNIÃO      1615
47                     ANGICOS       PSDB      1600
482        SERRA DE SÃO MIGUEL       PSDB      1595
473        SERRA DE SÃO MIGUEL         PL      1443
311       MÉDIO OESTE POTIGUAR         PT      1344
299       MÉDIO OESTE POTIGUAR         PL      1325
308       MÉDIO OESTE POTIGUAR       PSDB      1124

In [19]:
## Análise da participação eleitoral por faixa etária ou gênero. ????


## Comparar a proporção de votos brancos e nulos com o total de votos válidos.
data_group = data_df.groupby(["SG_UF", "NM_MUNICIPIO", "NR_ZONA", "NR_SECAO"]).nth(0).copy()
tot_apto = data_group.QT_APTOS.sum()
tot_comp = data_group.QT_COMPARECIMENTO.sum()
tot_abst = data_group.QT_ABSTENCOES.sum()

data_group = data_df.groupby(["DS_TIPO_VOTAVEL"]).DS_TIPO_VOTAVEL.count().reset_index(name="QT_VOTOS")
data_group["PROP_APTOS"] = data_group.QT_VOTOS / tot_apto
data_group["PROP_COMP"] = data_group.QT_VOTOS / tot_comp
data_group["PROP_ABST"] =  data_group.QT_VOTOS / tot_abst
data_group.style.format({"PROP_APTOS": "{:.2%}", "PROP_COMP": "{:.2%}", "PROP_ABST": "{:.2%}"})

In [20]:
## Utilização de funções de agregação, como sum(), avg(), count(), etc., para obter insights estatísticos.

### 5. Visualização de Resultados (extra)
<ul>
    <li>Como sugestão utilizar bibliotecas de visualização de dados, como Matplotlib ou Plotly, em conjunto com os DataFrames do PySpark, para criar gráficos e visualizações que representem os resultados das análises.</li>
</ul>

### 6. Conclusão:
<ul>
    <li>
Destacar os insights obtidos durante a análise dos resultados das eleições</li>
</ul>

Requirement already satisfied: jinja2 in c:\users\ivan\miniconda3\envs\trab_viegas\lib\site-packages (3.1.2)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\ivan\miniconda3\envs\trab_viegas\lib\site-packages (from jinja2) (2.1.3)